#start-btn {
    width: 40%;
}

#camera {
    width: 360px;
    height: 250px;
    border: 1px solid grey;
}

#logo {
    width: 150px;
    border-radius: 100px;
}

#textbox {
    width: 300px;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.9324712860450316) 0%, rgba(38, 233, 201, 0.8987634208764923) 40%, rgba(9, 9, 121, 0.9184263422248069) 80%, rgba(0, 212, 255, 0.9212353309888518) 98%);
}
h1 
{
    font-family: 'Twinkle Star', cursive;
}